<div class="card-header">
	<h2>Installation d'Angular</h2>
</div>
<div class="card-body">
	<div class="card-header">
		<h2>Prérequis</h2>
	</div>
	<div class="card-body">
		<ul>
			<li><a href="https://nodejs.org/en/download/" blank="">NodeJS</a></li>
		</ul>
	</div>

	<div class="card-header">
		<h2>Installation d'Angular</h2>
	</div>
	<div class="card-body">
		<ol>
			<li>
				<p>Installer Angular CLI</p>
				<pre><code class="language-bash">npm install -g &#64;angular/cli</code></pre>
			</li>
			<li>
				<p>Tester l'installation</p>
				<pre><code class="language-bash">ng --version</code></pre>
				<textarea highlight-js [options]="{}" [lang]="'bash'">
 	 _                      _                 ____ _     ___
    / \   _ __   __ _ _   _| | __ _ _ __     / ___| |   |_ _|
   / △ \ | '_ \ / _` | | | | |/ _` | '__|   | |   | |    | |
  / ___ \| | | | (_| | |_| | | (_| | |      | |___| |___ | |
 /_/   \_\_| |_|\__, |\__,_|_|\__,_|_|       \____|_____|___|
                |___/


Angular CLI: 19.2.1
Node: 22.14.0
Package Manager: npm 10.9.2
OS: win32 x64

Angular: 19.2.1
... animations, cli, common, compiler, compiler-cli, core, forms
... platform-browser, platform-browser-dynamic, router

Package                         Version
---------------------------------------------------------
@angular-devkit/architect       0.1902.1
@angular-devkit/build-angular   19.2.1
@angular-devkit/core            19.2.1
@angular-devkit/schematics      19.2.1
@schematics/angular             19.2.1
rxjs                            7.8.2
typescript                      5.7.3
zone.js                         0.15.0
				</textarea
				>
			</li>
		</ol>
	</div>

	<div class="card-header">
		<h2>Outils</h2>
	</div>
	<div class="card-body">
		<ul>
			<li>Votre éditeur de code préférer!</li>
		</ul>

		<p>Extention disponible pour Angular</p>
		<ul>
			<li><strong>Angular Schematics</strong>: exécution de commande via un menu contextuelle</li>
			<li><strong>Angular Snippets</strong>: aide avec de l'auto-completion</li>
			<li><strong>Angular Language Service</strong>: aide avec de l'auto-completion</li>
		</ul>
	</div>
	<a routerLink="/{{ NAV_THEORY }}/0" class="btn btn-primary m-2">Commencer le cours</a>
</div>
