<ul class="list-unstyled">
	<li>
		@if (isOpen) {
			<span class="bi-caret-down" (click)="closeFolder()"></span>
		} @else {
			<span class="bi-caret-right" (click)="openFolder()"></span>
		}
		<span
			(click)="onElementClick(path + folderStructure().name)"
			[ngClass]="{highlight: path + folderStructure().name === interactingWith()()}"
		>
			<i class="m-1 {{ folderStructure().bootstrapIcon || 'bi-folder' }}"></i>
			&nbsp;{{ folderStructure().name }}
		</span>
		@if (isOpen) {
			<ul class="list-unstyled ms-3">
				@for (file of folderStructure().files; track $index) {
					<li>
						<span
							(click)="onElementClick(path + folderStructure().name + '/' + file.name)"
							[ngClass]="{highlight: path + folderStructure().name + '/' + file.name === interactingWith()()}"
						>
							<i class="ms-2 {{ file.bootstrapIcon || 'bi-file-code' }}"></i>
							&nbsp;{{ file.name }}
						</span>
					</li>
				}

				@for (child of folderStructure().children; track $index) {
					<li class="ms-2">
						<folder-structure
							[folderStructure]="child"
							[pathInput]="path + folderStructure().name"
							(interactWith)="onElementClick($event)"
							[interactingWith]="interactingWith()"
						/>
					</li>
				}
			</ul>
		}
	</li>
</ul>
