<div class="card-header">
	<h2>Intro angular</h2>
</div>
<div class="card-body">
	<p>
		Introduction à Angular Angular est une framework open-source développé et maintenu par Google. Il permet de créer des applications
		web en s'appuyant sur une architecture basée sur des composants.
	</p>
	<p>
		Il offre une solution complète pour le développement d'application à page unique SPA (qui sera abordé dans le cours) avec des outils
		intégrés permettant de gérer le routage, les requêtes HTTP, la gestion des formulaires,....
	</p>
</div>
