/* You can add global styles to this file, and also import other style files */
body {
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
}

p {
	font-size: 1.4rem;
}

i {
	font-size: 1.2rem;
}

li {
	font-size: 1.3rem;
}

pre {
	font-size: 0.8rem;
}

article:not(:last-child) {
	margin-bottom: 1.5rem;
}
